<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body >
<hr />
<div id="main">
<div id="list" v-if="UI=='main'">
	<h1>Shopping Mall.</h1>
	<table border=1>
		<tr><td>id</td><td>商品名稱</td><td>商品說明</td><td>商品價格</td><td>加入購物車</td></tr>
		<tr v-for="product in dat">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td>{{product.price}}</td>
			<td><button @click="addToShoppingCart(product.id)">加</button></td>
		</tr>
	</table>
</div>

</div>
<script>
const todoApp= Vue.createApp({
	data() {
		return {
			UI: 'main',
			dat: [],
			newproduct: {
				id: -1,
				name: '',
				description: '',
				price: ''
			}
		}
	},
	methods: {
		loadList: function () {
			const that=this; //this  ==> stands for vm6. let's save `this` to `that`
			fetch('productControl.php?act=listProduct')
			.then(function(response) {
				return response.json();
			})
			.then(function(myProduct) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6
				that.dat = myProduct;
				//vm6.dat = myJson;
			});
		},
        addToShoppingCart: function (id) {
			const that=this;
            let url ="productControl.php?act=addToShoppingCart&id="+id;
			fetch(url,{
				method: 'POST'
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){
				console.log(data);
				that.loadList();
			})
		},
		
		setUI: function(page) {
			this.UI=page;
		}
	},
	created() {
		this.loadList();
	}
}).mount("#main");
</script>
</body></html>