<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <hr />
    <div id="main">
        <div id="list" v-if="UI === 'main'">
            <h1>歡迎光臨！</h1>
            <h2>商品清單</h2>
            <table border=1>
                <tr>
                    <td>序號</td>
                    <td>商品名稱</td>
                    <td>價格</td>
                    <td>商品說明</td>
                    <td>-</td>
                </tr>
                <tr v-for="product in products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td><button @click="addToCart(product)">加入購物車</button></td>
                </tr>
            </table>
        </div>
        <div v-if="UI === 'cart'">
            <h1>購物車</h1>
            <table border=1>
                <tr>
                    <td>商品名稱</td>
                    <td>價格</td>
                    <td>商品說明</td>
                </tr>
                <tr v-for="product in cart">
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            </table>
            <button @click="setUI('main')">返回</button>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    UI: 'main',
                    products: [],
                    cart: []
                };
            },
            methods: {
                loadProducts() {
                    fetch('productControl.php?act=listProducts')
                        .then(response => response.json())
                        .then(data => {
                            this.products = data;
                        });
                },
                addToCart(product) {
                    this.cart.push(product);
                },
                setUI(page) {
                    this.UI = page;
                }
            },
            created() {
                this.loadProducts();
            }
        }).mount("#main");
    </script>
</body>
</html>
