<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body >
<hr />
<div id="main">
<div id="list" v-if="UI=='main'">
	<h1>商戶端</h1>
	<button @click="setAddUI()">增加商品</button>
	<button @click="viewOrder">未確定訂單</button>
	<button @click="viewconfirmOrder">已確認訂單</button>
	<button @click="OrderItems">查看所有訂單</button>
	<table border=1>
		<tr><td>序號</td><td>商品名稱</td><td>商品說明</td><td>價格</td><td>-</td></tr>
		<tr v-for="Product in dat">
			<td>{{Product.id}}</td>
			<td>{{Product.name}}</td>
			<td>{{Product.description}}</td>
			<td>{{Product.price}}</td>
			<td><button @click="delProduct(Product.id)">刪除</button><button @click="setEditUI(Product)">修改</button></td>
		</tr>
	</table>
</div>
<div id="shoppingOrder" v-if="UI=='shoppingOrder'">
	<h1>未確定訂單</h1>
	<button @click="setUI('main')">返回商品列表</button>
	<table border=1>
	<tr>
		
		<td>訂單編號</td>
		<td>狀態</td>
		<td>評分</td>
		<td>-</td>
	</tr>
		<tr v-for="item in shoppingOrderItems">
			<td>{{item.id}}</td>
			<td>{{item.notestatus}}</td>
			<td>{{item.score}}</td>
			<td><button @click="confirmOrder(item.id)">確認訂單</button></td>
		</tr>
	</table>
</div>
<div id="ConfirmshoppingOrder" v-if="UI=='ConfirmshoppingOrder'">
	<h1>已確定訂單</h1>
	<button @click="setUI('main')">返回商品列表</button>
	<table border=1>
	<tr>
	
		<td>訂單編號</td>
		<td>狀態</td>
		<td>評分</td>
		<td>-</td>
	</tr>
		<tr v-for="OrderItems in ConfirmOrderItems">
			<td>{{OrderItems.id}}</td>
			<td>{{OrderItems.notestatus}}</td>
			<td>{{OrderItems.score}}</td>
			<td><button @click="SendedOrder(OrderItems.id)">寄送訂單</button></td>
		</tr>
	</table>
</div>	
<div id="OrderItems" v-if="UI=='OrderItems'">
	<h1>所有訂單</h1>
	<button @click="setUI('main')">返回商品列表</button>
	<table border=1>
	<tr>
		<td>訂單編號</td>
		<td>狀態</td>
		<td>評分</td>
	</tr>
		<tr v-for="Order in OrderItems">
			<td>{{Order.id}}</td>
			<td>{{Order.notestatus}}</td>
			<td>{{Order.score}}</td>
		</tr>
	</table>
</div>
<div v-if="UI=='editForm'">
	商品名稱: <input type="text"  v-model="newProduct.name"/> <br/>

	商品說明: <textarea v-model="newProduct.description"></textarea><br>

	價格: <input type="text"  v-model="newProduct.price"/> <br/>


	<input type='button' @click="addProduct()" value="save">
</div>
</div>
<script>
const productsApp= Vue.createApp({
	data() {
		return {
			UI: 'main',
			dat: [],
			newProduct: {
				id: -1,
				name: '',
				description: '',
				price: ''
				
			}
		}
	},
	methods: {
		loadList: function () {
			const that=this; //this  ==> stands for vm6. let's save `this` to `that`
			fetch('productsControl.php?act=listProduct')
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6

				that.dat = myJson;
				//productsApp.dat = myJson;
			});
		},
		delProduct: function (id) {
			const that=this;
			let url="productsControl.php?act=delProduct&id="+id;
			fetch(url,{
				method: 'POST'
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){
				console.log(data);
				that.loadList();
			})
		},
		confirmOrder(orderId) {
    		fetch(`productsControl.php?act=updateOrderStatus&orderId=${orderId}&newStatus=處理中訂單`, {
        		method: 'POST'
    		})
    		.then(response => response.text())
    		.then(() => {
        	this.loadOrderList();
    		});
		},
		SendedOrder(orderId) {
    		fetch(`productsControl.php?act=updateOrderStatusSended&orderId=${orderId}&newStatus=寄送中訂單`, {
        		method: 'POST'
    		})
    		.then(response => response.text())
    		.then(() => {
        	this.loadOrderList();
    		});
		},

		addProduct: function () {
			const that=this;
			let mydat = new FormData();
			mydat.append( "dat", JSON.stringify(this.newProduct) );

			let url="productsControl.php?act=addProduct";
			fetch(url,{
				method: 'POST',
				body: mydat // 將表單物件放入fetch的body屬性
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){ 
				console.log(data);
				that.setUI('main');
				that.loadList();
			})
		},
		viewOrder: function () {
                    const that = this;
                    fetch('productsControl.php?act=getOrderItems')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (orderItems) {
                            that.shoppingOrderItems = orderItems;
                            that.setUI('shoppingOrder');
                        });
                },
		viewconfirmOrder: function () {
                    const that = this;
                    fetch('productsControl.php?act=getConfirmOrderItems')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (ConfirmOrderItems) {
                            that.ConfirmOrderItems = ConfirmOrderItems;
                            that.setUI('ConfirmshoppingOrder');
                        });
                },
		OrderItems: function () {
                    const that = this;
                    fetch('productsControl.php?act=OrderItems')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (OrderItems) {
                            that.OrderItems = OrderItems;
                            that.setUI('OrderItems');
                        });
                },
		setEditUI: function(Product) {
			this.newProduct=Product;
			this.setUI('editForm');
		},
		setAddUI: function() {
			this.newProduct={
				id: -1,
				name: '',
				description: '',
				price: ''
				
			};
			this.setUI('editForm');
		},
		setUI: function(page) {
			this.UI=page;
		}
	},
	created() {
		this.loadList();
	}
}).mount("#main");
</script>
</body></html>