<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@3"></script>
</head>
<body>

    <hr>
	
    <div id="main">
        <div id="list" v-if="UI=='main'">
            <h1>購物商城</h1>
		 <p> Hello! I'm  id= <span id="input"></span></p>
<script>
var LocString=String(window.document.location.href);
function GetQueryString(str){
var rs=new RegExp("(^|)"+str+"=([^&]*)(&|$)","gi").exec(LocString),tmp;
if(tmp=rs)return tmp[2];
return "NO";
}

      document.getElementById('input').innerHTML = GetQueryString("id") ;
  </script>

            <button @click="viewShoppingCart">查看購物車</button>
            <button @click="viewOrder">查看訂單</button>
            <table border=1>
                <tr>
                    <td>id</td>
                    <td>商品名稱</td>
                    <td>商品說明</td>
                    <td>商品價格</td>
                    <td>加入購物車</td>
                </tr>
                <tr v-for="product in dat">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td><button @click="addToShoppingCart(product.id)">加入</button></td>
                </tr>
            </table>
        </div>

        <div id="shoppingCart" v-if="UI=='shoppingCart'">
            <h1>購物車</h1>
            <button @click="setUI('main')">返回商品列表</button>
            <button @click="addToOrder()">加入訂單</button>
            <table border=1>
                <tr>
                    <td>id</td>
                    <td>商品名稱</td>
                    <td>單價</td>
                    <td>數量</td>
                    <td>總價</td>
                    <td>從購物車中移除</td>
                </tr>
                <tr v-for="item in shoppingCartItems">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{calculateTotalPrice(item)}}</td>
                    <td><button @click="removeFromShoppingCart(item.id)">移除</button></td>
                </tr>
            </table>

            <!-- 顯示購物車總價的總和 -->
            <p v-if="shoppingCartItems.length > 0">
                全部商品總價: {{ calculateTotalAllItemsPrice() }}
            </p>
        </div>
		
        <div id="shoppingOrder" v-if="UI=='shoppingOrder'">
            <h1>訂單明細</h1>
            <button @click="setUI('main')">返回商品列表</button>
            <button @click="viewOrderScore">訂單評分</button>
            <table border=1>
                <tr>
                    <td>訂單編號</td>
                    <td>狀態</td>
                    <td>評分</td>
                </tr>
                <tr v-for="item in shoppingOrderItems">
                    <td>{{item.id}}</td>
                    <td>{{item.notestatus}}</td>
                    <td>{{item.score}}</td>
                </tr>
            </table>

        </div>		
		
        <div id="shoppingOrderScore" v-if="UI=='shoppingOrderScore'">
            <h1>訂單評分</h1>
            <button @click="setUI('main')">返回商品列表</button>
            <table border=1>
                <tr>
                    <td>訂單編號</td>
                    <td>狀態</td>
                    <td>評分</td>
                    <td>-</td>
                </tr>
                <tr v-for="item in shoppingOrderScoreItems">
                    <td>{{item.id}}</td>
                    <td>{{item.notestatus}}</td>
					
                    <td><select name="score" id="score">
                            <option value="一顆星">一顆星</option>
                            <option value="二顆星">二顆星</option>
                            <option value="三顆星">三顆星</option>
                            <option value="四顆星">四顆星</option>
                            <option value="五顆星">五顆星</option>
                        </select>
					</td>
                    <td><button @click="updateOrder(item.id)">完成</button></td>
                </tr>
            </table>

        </div>		
		
		
    </div>

    <!-- Vue.js script -->
    <script>
var LocString=String(window.document.location.href);
function GetQueryString(str){
var rs=new RegExp("(^|)"+str+"=([^&]*)(&|$)","gi").exec(LocString),tmp;
if(tmp=rs)return tmp[2];
return "NO";
}

      
	
        const todoApp = Vue.createApp({
            data() {
                return {
                    UI: 'main',
                    dat: [],
                    newproduct: {
                        id: -1,
                        name: '',
                        description: '',
                        price: ''
                    },
                    shoppingCartItems: [],
                    shoppingOrderItems: [],
					shoppingOrderScoreItems: [],
                    totalCartPrice: null
                }
            },
            methods: {
                loadList: function () {
                    const that = this;
                    fetch('shoppingCartControl.php?act=listProduct')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (myProduct) {
                            that.dat = myProduct;
                        });
                },
                addToShoppingCart: function (id) {
                    const that = this;
                    let url = "shoppingCartControl.php?act=addToShoppingCart&id=" + id;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { return res.text(); })
                        .then(function (data) {
                            console.log(data);
                            that.loadList();
                        });
                },
                viewShoppingCart: function () {
                    const that = this;
                    fetch('shoppingCartControl.php?act=getShoppingCartItems')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (cartItems) {
                            that.shoppingCartItems = cartItems;
                            that.calculateTotalCartPrice();
                            that.setUI('shoppingCart');
                        });
                },
                removeFromShoppingCart: function (id) {
                    const that = this;
                    let url = "shoppingCartControl.php?act=removeFromShoppingCart&id=" + id;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { return res.text(); })
                        .then(function (data) {
                            console.log(data);
                            that.viewShoppingCart();
                        });
                },
                addToOrder: function () {
                    const that = this;
                    fetch('shoppingCartControl.php?act=addToOrder') //新增訂單
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (orderItems) {
                            that.shoppingOrderItems = orderItems;
                            that.setUI('shoppingOrder');//20231212
                        });
                },
                viewOrder: function () {
                    const that = this;
					let url = "shoppingCartControl.php?act=getOrderItems&id=" + GetQueryString("id");
                    fetch(url)
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (orderItems) {
                            that.shoppingOrderItems = orderItems;
                            that.setUI('shoppingOrder');//20231212
                        });
                },
                viewOrderScore: function () {
                    const that = this;
                    fetch('shoppingCartControl.php?act=getOrderScoreItems')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (orderItems) {
                            that.shoppingOrderScoreItems = orderItems;
                            that.setUI('shoppingOrderScore');//訂單評分
                        });
                },
				
                updateOrder: function (id ) {
                    const that = this;
                    const scoreElement = document.getElementById("score");
                    const score = scoreElement.value;					
					//var score = form.score.value;//取select 的值
					//alert(score);
                    let url = "shoppingCartControl.php?act=updateOrder&id=" + id + "&score=" + score;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { return res.text(); })
                        .then(function (data) {
                            console.log(data);
                            that.viewOrderScore();
                        });
                },
				
				
                setUI: function (page) {
                    this.UI = page;
                },
                calculateTotalPrice: function (item) {
                    return (item.price * item.quantity).toFixed(2);
                },
                calculateTotalCartPrice: function () {
                    this.totalCartPrice = this.shoppingCartItems.reduce((total, item) => {
                        return total + item.price * item.quantity;
                    }, 0).toFixed(2);
                },
                calculateTotalQuantity: function () {
                    return this.shoppingCartItems.reduce((total, item) => {
                        return total + item.quantity;
                    }, 0);
                },
                calculateTotalAllItemsPrice: function () {
                    return this.shoppingCartItems.reduce((total, item) => {
                        return total + (item.price * item.quantity);
                    }, 0).toFixed(2);
                },
            },
            created() {
                this.loadList();
            }
        }).mount("#main");
    </script>
</body>
</html>
